<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./js/vue.js"></script>
</head>

<body>
    <div id="app">
        <input @keyup.13="keyHandle" v-model="val" type="text">
        <input type="radio" name="sexr" value="0" v-model="sex">男
        <input type="radio" name="sexr" value="1" v-model="sex">女
        <button @click="submitHandle">提交</button>
    </div>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                val:"",
                sex:"0"
            },
            methods: {
                keyHandle(){
                    console.log(this.val);
                },
                submitHandle(){
                    console.log(this.sexr);
                }
            }
        })
    </script>
</body>

</html>