/* nav */
.nav{
    height: 40px;
    background: #333;
}
.wrapper{
    width: 1226px;
    height: 40px;
    margin: 0 auto;
}
.nav-left{
    float: left;
}
.nav-left li,.nav-right li{
    float: left;
    line-height: 40px;
}
.nav-left li a,.nav-right li a{
    color: #b0b0b0;
    font-size: 12px;
    padding: 0 7px;
}
.nav-right{
    float: right;
}
/*.nav-left li:hover 的时候的后代元素a*/
.nav-left li:hover a{
    color: white;
}
.nav-right li:hover a{
    color: white;
}


/*购物车*/
.nav-right .cart{
    background: #424242;
    color: #b0b0b0;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    cursor: pointer;
    position: relative;
}
.cart .icon-weibiaoti--:hover{
    background: white;
    color: #ff6700;
}
.cart:hover{
    background: white;
    color: #ff6700;
}

.cart-list{
    width: 315px;
    height: 100px;
    background: #fff;
    /*边框阴影  水平偏移  垂直偏移  模糊度  外延值  颜色*/
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: 0px;
    top: 40px;
    /* 隐藏 */
    /* display: none; */
    height: 0;
    /* 过渡 属性 执行时间 运动方式（匀速）  */
    transition: height 0.3s linear;
}
.cart:hover .cart-list{
    /*显示*/
    /*display:block; */
    height: 100px;
}


/*header*/
.header-box{
    overflow: hidden;
    height: 100px;
}
/* 文本  行元素  行级块元素  水平居中-》父元素设置text-align: center;
   块级元素  水平居中-》块级元素自己设置margin：0 auto  */
.header-logo{
    background: coral;
    height: 55px;
    width: 55px;
    float: left;
    margin-top: 22px;
    text-align: center;
    cursor: pointer;
}
.header-list{
    float: left;
    margin-left: 140px;
}
.header-list li{
    float: left;
    line-height: 98px;
}
.header-list li a{
    color:#424242;
    font-size: 16px;
    padding: 0 11px;
}
.header-list li:hover a{
    color: coral;
}


/*搜索框*/
.search-box{
    float: right;
    width: 298px;
    height: 50px;
    margin-top: 25px;
}
.search-box input{
    width: 245px;
    border: none;
    height: 50px;
    outline: none;
    float: left;
    color: #333;
    padding:0 10px;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
    border-right: none;
}
.search-btn{
    width:50px;
    display: inline-block;
    height: 50px;
    /* background: #f00; */
    border:1px solid #e0e0e0;
    text-align: center;
    line-height: 50px;
    color:#616161;
    box-sizing: border-box;
}
.search-btn .icon-sousuosearch82{
    font-size: 24px;
}
.search-btn:hover{
    background: coral;
    color: white;
    border-left:1px solid coral;
}


/*轮播图*/
.slide-box{
    height: 460px;
    background: #ff0000;
    position: relative;
}
.slide-box img{
    width: 100%;
}
.slide-box .cate-box{
    height: 460px;
    width: 234px;
    background: rgba(105,101,101,.6);
    position: absolute;
    top: 0px;
    left: 0;
}
.cate-list{
    height: 42px;
    width: 234px;
    padding: 20px 0;
    line-height: 42px; 
    cursor: pointer;
}
.cate-list >li{
    font-size: 14px;
    padding-left: 30px;
    padding-right: 18px;
    color: #ffffff;
}
.cate-list li:hover{
    background: coral;
}
.main-menu .icon-dayuhao{
    float: right;
    font-size: 14px;
}
.sub-menu-box{
    height: 460px;
    width:992px;
    background: #fff;
    position: absolute;
    left:234px;
    top:0;
    box-shadow: 0 8px 16px rgba(0,0,0,.18);
    /* 先隐藏 */
    display: none;
}
.main-menu:hover .sub-menu-box{
    display: block;
}
.sub-menu-box .sub-img{
    width: 40px;
    height:40px;
    /* 两个兄弟 居中对齐 */
    vertical-align: middle;
}
.sub-menu-box .sub-text{
    color:#333;
}
.sub-menu{
    padding:18px 20px;
    height: 40px;
    width:225px;
    line-height: 40px;
}
.sub-menu-box ul{
    float: left;
}


/* channl */
.channel-box{
    margin-top:15px;
    overflow: hidden;
    margin-bottom: 25px;
}
.channel-left{
    background: #5f5750;
    width: 234px;
    padding:3px;
    box-sizing: border-box;
    overflow: hidden;
    float: left;
}
.channel-left li{
    width:76px;
    height: 82px;
    float: left;
    text-align: center;
    color: #fff;
    position: relative;
}
.channel-left .left-img{
    width: 24px;
    display: block;
    margin:18px auto 4px;
    opacity: 0.7;
}
.channel-left .left-text{
    opacity: 0.7;
}
.channel-left li:hover .left-img,.channel-left li:hover .left-text{
    opacity: 1;
}

/* after/before伪元素 生成左/上边线 */
.channel-left li::after{
    content:"";
    position: absolute;
    left:0;
    top:6px;
    width: 1px;
    height: 70px;
    background: #665e57;
}
.channel-left li::before{
    content: "";
    position: absolute;
    left:6px;
    top:0px;
    width:64px;
    height:1px;
    background: #665e57;
}
.channel-right{
    float: right;
    width:992px;
    padding-left:1px;
    box-sizing: border-box;
}
.channel-right a{
    /* margin-left:14px; */
    /* overflow: hidden; */
    width: 316px;
    height: 170px;
    float: left;
    margin-left:14px;
}
.channel-right img{
    width:100%;
}


/* 闪购 */
.main-content{
    background: #f5f5f5;
}
.flashsale-header{
    height: 58px;
    line-height: 58px;
    color: #333;
    font-weight: 200;
    font-size: 22px;
    -webkit-font-smoothing: antialiased;
}
.btn-box{
    position: absolute;
    right:0;
    top:20px;
}
.sale-header-box{
    position: relative;
}
.btn-box span{
    width: 36px;
    height: 24px;
    line-height: 24px;
    border:1px solid  #e0e0e0;
    display: inline-block;
    text-align: center;
    color:#b0b0b0;
    font-size: 12px;
    cursor: pointer;
}
/* .sale-content{
    overflow: hidden;
} */
.sale-time{
    width: 234px;
    height: 340px;
    background: #f1eded;
    float: left;
    margin-right: 14px;
}
.start-time{
    font-size: 21px;
    color: #ef3a3b;
    text-align: center;
    padding-top:54px;
}
.sale-img{
    display: block;
    margin:25px auto;
}
.end-time{
    color: rgba(0,0,0,.54);
    font-size: 15px;
    text-align: center;
}
.time-num{
    display: inline-block;
    width: 46px;
    height: 46px;
    background: #605751;
    font-size: 24px;
    color:#fff;
    text-align: center;
    line-height: 46px;
}
.time-box{
    text-align: center;
    margin-top:28px;
}
.time-dottod{
    font-size:28px;
    color:#605751;
    height: 46px;
    line-height: 46px;
    display: inline-block;
}
.sale-list-wrapper{
    width: 1736px;
}
.sale-list{
    width: 234px;
    height: 340px;
    margin-right: 14px;
    float: left;
    background: #fff;
}
.sale-list-box{
    overflow: hidden;
}
.prod-img{
    width: 160px;
    height: 160px;
    display: block;
    margin: 39px auto 20px;
}
.prod-title{
    color: #212121;
    font-size: 14px;
    font-weight: 400;
    /* 单行文本溢出 */
    text-overflow: ellipsis;/*溢出部分显示“...”*/
    white-space: nowrap;
    overflow: hidden;
    
    /* 有高度  溢出 */
    height: 21px;

    padding:0 20px 3px;
}
.prod-desc{
    color: #b0b0b0;
    font-size: 12px;
    /* 单行文本溢出 */
    text-overflow: ellipsis;/*溢出部分显示“...”*/
    white-space: nowrap;
    overflow: hidden;
    margin: 0 20px 12px;
    height: 18px;
    text-align: center;
}
.prod-price{
    text-align: center;
}
.prod-price .new-price{
    color: #ff6709;
    font-size: 14px;
}
.prod-price .old-price{
    color: #b0b0b0;
    font-size: 14px;
    /* 文本中划线 */
    text-decoration: line-through;
}

/* banner */
.home-banner-box .banner-img{
    width: 1234px;
    height: 120px;
    margin: 22px auto;
    display: block;
}

/* 手机 */
.mobile-header{
    height: 58px;
}
.mobile-header-left{
    color: #333;
    font-weight: 200;
    font-size: 22px;
    height: 58px;
    line-height: 58px;
    -webkit-font-smoothing: antialiased;
    float: left;
}
.mobile-header-right{
    float: right;
    width: 92px;
    height: 58px;
    line-height: 58px;
}
.header-text{
    color: #424242;
    width: 92px;
    height: 18px;
    line-height: 58px;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
}
.icon-jinru{
    height: 25px;
    width: 25px;
    font-size: 20px;
}
.mobile-content-left img{
    width: 234px;
    float: left;
}
.mobile-header-right:hover a{
    color: coral;
}
.mobile-content-right{
    width: 1226px;
    height: 614px;
}
.mobile-list{
    width: 234px;
    height: 260px;
    background: #fff;
    float: left;
    margin-left: 14px;
    padding: 20px 0;
    margin-bottom: 14px;
    cursor: pointer;
}
.mobile-list-img{
    width: 160px;
    height: 160px;
    display: block;
    margin: 0 auto 18px;
}
.mobile-list-title{
    font-size: 14px;
    font-weight: 400;
    color: #333;
    margin: 0 10px 2px ;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.mobile-list-desc{
    font-size: 12px;
    height: 18px;
    color: #b0b0b0;
    margin: 0 10px 10px;
    width: 214px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.mobile-list-price{
    color: coral;
    cursor: pointer;
    width: 214px;
    height: 21px;
    margin: 0 10px 14px;
    font-size: 14px;
    text-align: center;
}
.mobile-list:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    position: relative;
    top:-2px;
    /* margin-top:-2px; */
}


/* 家电 */
.tele-header{
    height: 58px;
}
.tele-header-text{
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
    -webkit-font-smoothing: antialiased;
    float: left;
}
.tele-header-right{
    padding: 16px 0 0;
    font-size: 16px;
    display: block;
    height: 26px;
    width: 156px;
    float: right;
    text-align: center;
}
.tele-text2{
    float: right;
}
.tele-text1{
    color: coral;
    border-bottom: 2px solid coral;
    margin: 0 0 0 30px;
    display: inline-block;
}
.tele-text2:hover{
    color: coral;
    border-bottom: 2px solid coral;
    display: inline-block;
    cursor: pointer;
}
.tele-content{
    width: 1226px;
    height: 614px;
}
.tele-left-list-img{
    width: 234px;
    height: 300px;
}
.tele-content-left{
    width: 234px;
    height: 614px;
    float: left;
    margin-left: 0;
}
.tele-left-list{
    width: 234px;
    height: 300px;
    float: left;
    background: #fff;
    margin-bottom: 14px;
    cursor: pointer;
}
.tele-content-right{
    width: 992px;
    height: 614px;
    float: right;
}
.tele-left-list:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    position: relative;
    top:-2px;
    /* margin-top:-2px; */
}
.tele-list{
    width: 234px;
    height: 260px;
    background: #fff;
    float: left;
    margin-left: 14px;
    padding: 20px 0;
    margin-bottom: 14px;
    cursor: pointer;
}
.tele-list-img{
    width: 160px;
    height: 160px;
    display: block;
    margin: 0 auto 18px;
}
.tele-list-title{
    font-size: 14px;
    font-weight: 400;
    color: #333;
    margin: 0 10px 2px ;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.tele-list-desc{
    font-size: 12px;
    height: 18px;
    color: #b0b0b0;
    margin: 0 10px 10px;
    width: 214px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.tele-list-price{
    text-align: center;
}
.tele-new-price{
    color: #ff6709;
    font-size: 14px;
}
.tele-old-price{
    color: #b0b0b0;
    font-size: 14px;
    /* 文本中划线 */
    text-decoration: line-through;
}
.tele-list:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    position: relative;
    top:-2px;
    /* margin-top:-2px; */
}
.tele-brick-item-img{
    width: 80px;
    height: 80px;
    float: left;
    margin-top: 20px;
}
.tele-brick-item-title{
    width: 94px;
    height: 62px;
    margin-left: 25px;
    margin-top: 25px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    text-align: -webkit-match-parent;
    display: block;
    float: left; 
}
.tele-little-list{
    width: 234px;
    height: 300px;
    float: right;
}
.tele-brick-item{
    width: 234px;
    height: 123px;
    background: #fff;
    padding: 10px 0;
    margin-bottom: 14px;
    cursor: pointer;
}
.tele-brick-item-price{
    display: block;
    float: left;
    padding: 0 25px;
    color: coral;
}
.tele-brick-item-text{
    width: 94px;
    height: 50px;
    margin-top: 40px;
    margin-left: 25px;
    float: left;
}
.tele-brick-item-text1{
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}
.tele-brick-item-text2{
    font-size: 12px;
    color: #757575;
}
.tele-enter{
    text-align: center;
    width: 48px;
    height: 48px;
    line-height: 48px;
    font-size: 22px;
    cursor: pointer;
    position: relative;
    float: left;
    margin-top: 40px;
    margin-left: 40px;
}
.tele-enter span{
    width: 48px;
    height: 48px;
    font-size: 50px;
    color: coral;
}
.tele-brick-item:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    position: relative;
    top:-2px;
}


/* 智能 */
.mind-header{
    height: 58px;
}
.mind-header-text{
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
    -webkit-font-smoothing: antialiased;
    float: left;
}
.mind-header-right{
    padding: 16px 0 0;
    font-size: 16px;
    display: block;
    height: 26px;
    width: 156px;
    float: right;
    text-align: center;
}
.mind-text2{
    margin-left: 10px;
}
.mind-text3{
    float: right;
}
.mind-text1{
    color: coral;
    border-bottom: 2px solid coral;
    margin: 0 0 0 30px;
    display: inline-block;
}
.mind-text2:hover{
    color: coral;
    border-bottom: 2px solid coral;
    display: inline-block;
    cursor: pointer;
}
.mind-text3:hover{
    color: coral;
    border-bottom: 2px solid coral;
    display: inline-block;
    cursor: pointer;
}
.mind-content{
    width: 1226px;
    height: 614px;
}
.mind-left-list-img{
    width: 234px;
    height: 300px;
}
.mind-content-left{
    width: 234px;
    height: 614px;
    float: left;
    margin-left: 0;
}
.mind-left-list{
    width: 234px;
    height: 300px;
    float: left;
    background: #fff;
    margin-bottom: 14px;
    cursor: pointer;
}
.mind-content-right{
    width: 992px;
    height: 614px;
    float: right;
}
.mind-left-list:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    position: relative;
    top:-2px;
    /* margin-top:-2px; */
}
.mind-list{
    width: 234px;
    height: 260px;
    background: red;
    float: left;
    margin-left: 14px;
    padding: 20px 0;
    margin-bottom: 14px;
    cursor: pointer;
}
.mind-list-img{
    width: 160px;
    height: 160px;
    display: block;
    margin: 0 auto 18px;
}
.mind-list-title{
    font-size: 14px;
    font-weight: 400;
    color: #333;
    margin: 0 10px 2px ;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.mind-list-desc{
    font-size: 12px;
    height: 18px;
    color: #b0b0b0;
    margin: 0 10px 10px;
    width: 214px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.mind-list-price{
    text-align: center;
}
.mind-new-price{
    color: #ff6709;
    font-size: 14px;
}
.mind-old-price{
    color: #b0b0b0;
    font-size: 14px;
    /* 文本中划线 */
    text-decoration: line-through;
}
.mind-list:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    position: relative;
    top:-2px;
    /* margin-top:-2px; */
}
.mind-brick-item-img{
    width: 80px;
    height: 80px;
    float: left;
    margin-top: 20px;
}
.mind-brick-item-title{
    width: 94px;
    height: 62px;
    margin-left: 25px;
    margin-top: 25px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    text-align: -webkit-match-parent;
    display: block;
    float: left; 
}
.mind-little-list{
    width: 234px;
    height: 300px;
    float: left;
}
.mind-brick-item{
    width: 234px;
    height: 123px;
    background: #fff;
    padding: 10px 0;
    margin-bottom: 14px;
    cursor: pointer;
}
.mind-brick-item-price{
    display: block;
    float: left;
    padding: 0 25px;
    color: coral;
}
.mind-brick-item-text{
    width: 94px;
    height: 50px;
    margin-top: 40px;
    margin-left: 25px;
    float: left;
}
.mind-brick-item-text1{
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}
.mind-brick-item-text2{
    font-size: 12px;
    color: #757575;
}
.mind-enter{
    text-align: center;
    width: 48px;
    height: 48px;
    line-height: 48px;
    font-size: 22px;
    cursor: pointer;
    position: relative;
    float: left;
    margin-top: 40px;
    margin-left: 40px;
}
.mind-enter span{
    width: 48px;
    height: 48px;
    font-size: 50px;
    color: coral;
}
.mind-brick-item:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    position: relative;
    top:-2px;
}
/* .tele-brick-item-img{
    width: 80px;
    height: 80px;
    float: left;
    margin-top: 20px;
}
.tele-brick-item-title{
    width: 94px;
    height: 62px;
    margin-left: 25px;
    margin-top: 25px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    text-align: -webkit-match-parent;
    display: block;
    float: left; 
}
.tele-little-list{
    width: 234px;
    height: 300px;
    float: right;
}
.tele-brick-item{
    width: 234px;
    height: 123px;
    background: #fff;
    padding: 10px 0;
    margin-bottom: 14px;
    cursor: pointer;
}
.tele-brick-item-price{
    display: block;
    float: left;
    padding: 0 25px;
    color: coral;
}
.tele-brick-item-text{
    width: 94px;
    height: 50px;
    margin-top: 40px;
    margin-left: 25px;
    float: left;
}
.tele-brick-item-text1{
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}
.tele-brick-item-text2{
    font-size: 12px;
    color: #757575;
}
.tele-enter{
    text-align: center;
    width: 48px;
    height: 48px;
    line-height: 48px;
    font-size: 22px;
    cursor: pointer;
    position: relative;
    float: left;
    margin-top: 40px;
    margin-left: 40px;
}
.tele-enter span{
    width: 48px;
    height: 48px;
    font-size: 50px;
    color: coral;
}
.tele-brick-item:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    position: relative;
    top:-2px;
} */