$color:rgb(135, 178, 243);
$w:100px;

// sass
/* sass1 */
body {
    background: $color;

    div {
        width: $w;
        height: $w;
        background: rgb(216, 92, 92);

        border: {
            top: 10px solid rgb(22, 99, 22);
            left: 10px solid rgb(22, 99, 22);
        }
    }

    p {
        width: 200px;
        height: 200px;
        background: floralwhite;
    }
}