$color:rgb(135, 178, 243);
$w:100px;
$h:height;
$icon:success;

// sass
/* sass1 */

@mixin name($w1,$h1) {
    width: $w1;
    height: $h1;
    border:10px solid hotpink;
}
body {
    background: $color;

    div {
        width: $w;
        height: $w;
        background: rgb(216, 92, 92);

        border: {
            top: 10px solid rgb(22, 99, 22);
            left: 10px solid rgb(22, 99, 22);
        }
    }

    p {
        width: 200px;
        #{$h}: 200px;
        background: url(#{$icon}.jpg);
    }

    a {
        color: gold;

        &:hover {
            color: green;
        }
    }
    .aa{
        @include name(100px,200px)
    }
    .bb{
        @include name(200px,100px)
    }
}